# Lesson 01
# Introduction to the Course, Course Tools, Python Setup, Jupyter Notebook, Data Types, Functions

![http://www.pratt.edu/tiny_mce/plugins/imagemanager/files/Light_brown_blue22.jpg](http://www.pratt.edu/tiny_mce/plugins/imagemanager/files/Light_brown_blue22.jpg)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Lesson-01" data-toc-modified-id="Lesson-01-1">Lesson 01</a></span></li><li><span><a href="#Introduction-to-the-Course,-Course-Tools,-Python-Setup,-Jupyter-Notebook,-Data-Types,-Functions" data-toc-modified-id="Introduction-to-the-Course,-Course-Tools,-Python-Setup,-Jupyter-Notebook,-Data-Types,-Functions-2">Introduction to the Course, Course Tools, Python Setup, Jupyter Notebook, Data Types, Functions</a></span><ul class="toc-item"><li><span><a href="#Recommended-Resources" data-toc-modified-id="Recommended-Resources-2.1">Recommended Resources</a></span></li><li><span><a href="#Learning-Objectives" data-toc-modified-id="Learning-Objectives-2.2">Learning Objectives</a></span></li><li><span><a href="#Introduction-to-the-Course" data-toc-modified-id="Introduction-to-the-Course-2.3">Introduction to the Course</a></span></li><li><span><a href="#Course-Tools" data-toc-modified-id="Course-Tools-2.4">Course Tools</a></span><ul class="toc-item"><li><span><a href="#Slack" data-toc-modified-id="Slack-2.4.1">Slack</a></span></li><li><span><a href="#GitHub" data-toc-modified-id="GitHub-2.4.2">GitHub</a></span></li><li><span><a href="#Anaconda" data-toc-modified-id="Anaconda-2.4.3">Anaconda</a></span></li><li><span><a href="#Jupyter-Notebook" data-toc-modified-id="Jupyter-Notebook-2.4.4">Jupyter Notebook</a></span></li><li><span><a href="#Google-Colab-Notebooks" data-toc-modified-id="Google-Colab-Notebooks-2.4.5">Google Colab Notebooks</a></span></li></ul></li><li><span><a href="#GitHub" data-toc-modified-id="GitHub-2.5">GitHub</a></span><ul class="toc-item"><li><span><a href="#Fork-this-Lesson-Repo" data-toc-modified-id="Fork-this-Lesson-Repo-2.5.1">Fork this Lesson Repo</a></span><ul class="toc-item"><li><span><a href="#Fork" data-toc-modified-id="Fork-2.5.1.1">Fork</a></span></li><li><span><a href="#Clone" data-toc-modified-id="Clone-2.5.1.2">Clone</a></span></li></ul></li></ul></li><li><span><a href="#Google-Colab-Notebooks---Let's-Make-a-Quick-Map-with-Python" data-toc-modified-id="Google-Colab-Notebooks---Let's-Make-a-Quick-Map-with-Python-2.6">Google Colab Notebooks - Let's Make a Quick Map with Python</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#In-the-first-cell-add:" data-toc-modified-id="In-the-first-cell-add:-2.6.0.1">In the first cell add:</a></span></li><li><span><a href="#Then,-we-import-the-following-libraries" data-toc-modified-id="Then,-we-import-the-following-libraries-2.6.0.2">Then, we import the following libraries</a></span></li><li><span><a href="#Next,-we'll-load-in-Natural-Earth-World-Countries-Features" data-toc-modified-id="Next,-we'll-load-in-Natural-Earth-World-Countries-Features-2.6.0.3">Next, we'll load in Natural Earth World Countries Features</a></span></li><li><span><a href="#Now-let's-take-a-look-at-the-Countries-Feature-Layer-dataframe" data-toc-modified-id="Now-let's-take-a-look-at-the-Countries-Feature-Layer-dataframe-2.6.0.4">Now let's take a look at the Countries Feature Layer dataframe</a></span></li><li><span><a href="#Now-let's-Make-a-Map!" data-toc-modified-id="Now-let's-Make-a-Map!-2.6.0.5">Now let's Make a Map!</a></span></li></ul></li></ul></li><li><span><a href="#Python-Setup" data-toc-modified-id="Python-Setup-2.7">Python Setup</a></span><ul class="toc-item"><li><span><a href="#Anaconda---Python-3.7" data-toc-modified-id="Anaconda---Python-3.7-2.7.1">Anaconda - Python 3.7</a></span></li></ul></li><li><span><a href="#Python-Data-Types" data-toc-modified-id="Python-Data-Types-2.8">Python Data Types</a></span><ul class="toc-item"><li><span><a href="#Integers" data-toc-modified-id="Integers-2.8.1">Integers</a></span></li><li><span><a href="#Float" data-toc-modified-id="Float-2.8.2">Float</a></span></li><li><span><a href="#Boolean" data-toc-modified-id="Boolean-2.8.3">Boolean</a></span></li><li><span><a href="#Strings" data-toc-modified-id="Strings-2.8.4">Strings</a></span></li><li><span><a href="#Properties-of-Strings" data-toc-modified-id="Properties-of-Strings-2.8.5">Properties of Strings</a></span><ul class="toc-item"><li><span><a href="#Slice" data-toc-modified-id="Slice-2.8.5.1">Slice</a></span></li></ul></li><li><span><a href="#Python-Operators-(+,-=,--,-*)" data-toc-modified-id="Python-Operators-(+,-=,--,-*)-2.8.6">Python Operators (+, =, -, *)</a></span><ul class="toc-item"><li><span><a href="#Addition" data-toc-modified-id="Addition-2.8.6.1">Addition</a></span></li><li><span><a href="#Subtraction" data-toc-modified-id="Subtraction-2.8.6.2">Subtraction</a></span></li><li><span><a href="#Multiplication" data-toc-modified-id="Multiplication-2.8.6.3">Multiplication</a></span></li><li><span><a href="#Division" data-toc-modified-id="Division-2.8.6.4">Division</a></span></li><li><span><a href="#Floor-Operator" data-toc-modified-id="Floor-Operator-2.8.6.5">Floor Operator</a></span></li><li><span><a href="#Modulo-Operator" data-toc-modified-id="Modulo-Operator-2.8.6.6">Modulo Operator</a></span></li><li><span><a href="#Exponentiate" data-toc-modified-id="Exponentiate-2.8.6.7">Exponentiate</a></span></li></ul></li></ul></li><li><span><a href="#Variables" data-toc-modified-id="Variables-2.9">Variables</a></span><ul class="toc-item"><li><span><a href="#Variable-Naming-Rules" data-toc-modified-id="Variable-Naming-Rules-2.9.1">Variable Naming Rules</a></span></li></ul></li><li><span><a href="#Collections-Data-Types" data-toc-modified-id="Collections-Data-Types-2.10">Collections Data Types</a></span><ul class="toc-item"><li><span><a href="#List" data-toc-modified-id="List-2.10.1">List</a></span></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-2.10.2">Dictionaries</a></span><ul class="toc-item"><li><span><a href="#Dictionaries-can-be-nested" data-toc-modified-id="Dictionaries-can-be-nested-2.10.2.1">Dictionaries can be nested</a></span></li></ul></li><li><span><a href="#Other-Collection-Types" data-toc-modified-id="Other-Collection-Types-2.10.3">Other Collection Types</a></span></li></ul></li><li><span><a href="#Built-in-Python-Functions" data-toc-modified-id="Built-in-Python-Functions-2.11">Built-in Python Functions</a></span></li></ul></li></ul></div>

## Recommended Resources

## Learning Objectives

* To familiarize students with the course format
* Introduce the Course Tools
* Introduce Students to our Python Setup
* Introduction to Python Data Types
* Introduction to Python Functions

## Introduction to the Course

**[Syllabus](https://docs.google.com/document/d/1KHxT-NkaoXXdSNkK8JlzL2FFgmNoxPQ25fwgtXPnbrY)**

**Class Format**:
* 3 hour Classes
  * 50 minutes of Lesson
  * 5-10 minute Break
  * 50 minutes of Lesson
  * 5-10 minute Break
  * ~45 minutes of Lesson
  * 10-15 minutes Homework Introduction, etc. 
  * (this is subject to change)

## Course Tools 

### Slack 
* [Join the Slack Group](https://join.slack.com/t/pratt-savi/shared_invite/zt-cywzjb3p-4Q_JaZNuenRGgf28tyMbRw)

### GitHub

* [Download GitHub Desktop](https://desktop.github.com/)
* [Create a GitHub Account](https://github.com/)

### Anaconda

* [Download and Install Anaconda for Python 3.7](https://www.anaconda.com/distribution/#download-section)
* [Installation Instructions](https://docs.anaconda.com/anaconda/install/)
* [Download Anaconda Cheatsheet](https://docs.conda.io/projects/conda/en/4.6.0/_downloads/52a95608c49671267e40c689e0bc00ca/conda-cheatsheet.pdf)
* ``conda create --name savi``


### Jupyter Notebook
> The Jupyter Notebook is an open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text. Uses include: data cleaning and transformation, numerical simulation, statistical modeling, data visualization, machine learning, and much more. - Source: [https://jupyter.org/](https://jupyter.org/)

### Google Colab Notebooks

* [Create a new Notebook](https://colab.research.google.com/notebook#create=true)

## GitHub

### Fork this Lesson Repo

https://github.com/pratt-savi-810/pratt-savi-810-2020-03-lesson_01

#### Fork

![fork](https://raw.githubusercontent.com/pratt-savi-810/images/master/fork.png)

---

#### Clone 

![clone](https://raw.githubusercontent.com/pratt-savi-810/images/master/clone.png)

## Google Colab Notebooks - Let's Make a Quick Map with Python

![colab](https://raw.githubusercontent.com/pratt-savi-810/images/master/colab_map.png)

* [Create a new Notebook](https://colab.research.google.com/notebook#create=true)

#### In the first cell add:

```python
%%time 
!apt update
!apt upgrade
!apt install gdal-bin python-gdal python3-gdal 
# Install rtree - Geopandas requirment
!apt install python3-rtree 
# Install Geopandas
!pip install git+git://github.com/geopandas/geopandas.git
# Install descartes - Geopandas requirment
!pip install descartes 
```

#### Then, we import the following libraries
We'll discuss Libraries later on.

#### Next, we'll load in Natural Earth World Countries Features 
These features are natively installed with GeoPandas. We'll talk about GeoPandas later on as well.

#### Now let's take a look at the Countries Feature Layer dataframe 
We'll talk about DataFrames later on.

#### Now let's Make a Map!
This is very easy with GeoPandas. Making maps later on will be more complicated.

## Python Setup

For this class we will use Anaconda Python.

### Anaconda - Python 3.7

* [Download and Install Anaconda for Python 3.7](https://www.anaconda.com/distribution/#download-section)
* [Installation Instructions](https://docs.anaconda.com/anaconda/install/)
* [Download Anaconda Cheatsheet](https://docs.conda.io/projects/conda/en/4.6.0/_downloads/52a95608c49671267e40c689e0bc00ca/conda-cheatsheet.pdf)
* ``conda create --name savi``

## Python Data Types
Learn more about [Python Data Types from Python.org](https://docs.python.org/3.7/library/datatypes.html).

You can check any Python object's type with the `type()` function. 

### Integers

In [1]:
5

5

In [2]:
type(5) # type() returns or shows the data type

int

### Float 
Floats are decimal numeric types

In [3]:
0.342

0.342

In [4]:
type(0.342)

float

In [5]:
type(1.8)

float

### Boolean 

`True` or `False` data type

In [6]:
True # 
type(True)

bool

In [7]:
type(False
)

bool

not True

In [8]:
not False

True

In [9]:
  
== True # True is 1  == is the Equality Operator

SyntaxError: invalid syntax (<ipython-input-9-656b6d1107cf>, line 1)

In [12]:
False == 0 # False is 0  == is the Equality Operator

True

In [13]:
True == 1

True

In [14]:
False > 1

False

In [3]:
# False is 0

### Strings
Strings are a data type that stores text as data. 

**You can add comments to lines of codes with the hash symbol** `# comment`

In [15]:
# strings can be stored inside double-quotes
"geospatial == fun"

'geospatial == fun'

In [16]:
# strings can be stored in single-quotes
'Python is fun'

'Python is fun'

In [17]:
# you can set a "variable" to equal the string to store for later...
# use one = to set variable
multiline_string = """I can write mutli-line comments
like a poem 
Gis 
pythong 
"""

In [18]:
print(multiline_string) # use the print() unction to print test out in python

I can write mutli-line comments
like a poem
Gis
pythong

In [19]:
first_name = "john"
last_name= 'Doe'
print(first_name, last_name)

john Doe

### Properties of Strings
You can

In [20]:
last_name # I want to know how many characters are in the last name

'Doe'

In [21]:
len(last_name)

3

In [23]:
last_name.upper()

'DOE'

last_name.lower()

In [24]:
last_name.lower()

'doe'

In [28]:
last_name.split('o') # split on character o, great for splitting fields into new ones
# first argument for the split is the delimeter

['D', 'e']

In [ ]:
last_name.split()

#### Slice

In [29]:
first_name[0
        ] # array or list indeces start with 0

'j'

In [31]:
first_name[3] # gets the last letter from the front

'n'

In [32]:
first_name[-1] # gets the last letter from the back

'n'

In [34]:
first_name[1:3]# gets middle (includes the character 1 but not 3)

'oh'

In [35]:
first_name[0:3]# gets first three

'joh'

In [36]:
first_name[1:]# Also gets first three

'ohn'

In [10]:
# Gets all but first 1

In [38]:
first_name[::-1] # reversed

'nhoj'

### Variables can be placed into text via f-Strings
more on F-strings

In [40]:
statement =f"Employee name: {last_name}, {first_name}"
statement
# f-strings are good tools for inline variable substitution

'Employee name: Doe, john'

In [41]:
first_name = 'Jane'
last_name = 'Smithfield'
statement = f"The employee with the last name of {last_name} has a first name of {first_name}"
statement

'The employee with the last name of Smithfield has a first name of Jane'

### Python Operators (+, =, -, *)

#### Addition

In [42]:
y=3 + 2
type(y)

int

In [44]:
z=3 + 2.5
type(z)

float

In [12]:
# you can add strings together with + 
full_name_exp = last_name + first_name

#### Subtraction

#### Multiplication

In [13]:
# you can multiply strings!

#### Division

In [14]:
# Note this operates slightly differently for integers in Python 2.x

#### Floor Operator 

> The / (division) and // (floor division) operators yield the quotient of their arguments. The numeric arguments are first converted to a common type. Division of integers yields a float, while floor division of integers results in an integer; the result is that of mathematical division with the ‘floor’ function applied to the result. Division by zero raises the ZeroDivisionError exception. - Source: [https://docs.python.org/3.3/reference/expressions.html#binary-arithmetic-operations](https://docs.python.org/3.3/reference/expressions.html#binary-arithmetic-operations)

In [45]:
10//3 # division that returns answer with no remainder

3

#### Modulo Operator

> The % (modulo) operator yields the remainder from the division of the first argument by the second. The numeric arguments are first converted to a common type. A zero right argument raises the ZeroDivisionError exception. The arguments may be floating point numbers, e.g., 3.14%0.7 equals 0.34 (since 3.14 equals 4*0.7 + 0.34.) The modulo operator always yields a result with the same sign as its second operand (or zero); the absolute value of the result is strictly smaller than the absolute value of the second operand [1]. - Source: [https://docs.python.org/3.3/reference/expressions.html#binary-arithmetic-operations](https://docs.python.org/3.3/reference/expressions.html#binary-arithmetic-operations)

In [46]:
10%3 # useful for a lot of coding interview questions ....
# just get the remainder from the division of the first argument by the second

1

#### Exponentiate

In [47]:
2 ** 4

16

In [48]:
100** 5

10000000000

## Variables

Often in Python, you want to reuse some value, you can do this easily using a **Variable**. I can overwrite some defined Variables if the datatype is **Mutable**.

### Variable Naming Rules

* Use lowercase without spaces.
* Use underscores in place of spaces.
* Name variables descriptively. 
* Do not start variable name with a number. 
* Avoid existing function and built-in names.

In [ ]:
x = 5

In [51]:
x=5

In [52]:
x ** x

3125

In [53]:
x = 2 # this overwrites the initial x, this type of object, is Mutable.

In [54]:
x** x

4

## Collections Data Types

### List
A list is a simple collection type, it is **Mutable**, you can add and/or remove items to it. Lists are **ordered**.

In [55]:
students = ['Sara','Anna','Roger',
           'Kat',
           'Matthew'] # square brackets are for lists

In [60]:
type(students)

list

In [59]:
len(students)

5

In [64]:
students[0]

'Sara'

In [65]:
students[3]

'Kat'

In [66]:
students[2]

'Roger'

In [67]:
students.append('Mr. Potato Head')

In [68]:
students

['Sara', 'Anna', 'Roger', 'Kat', 'Matthew', 'Mr. Potato Head']

In [71]:
students[-2] # We've now changed the state of this list to be sorted

'Matthew'

In [72]:
students.sort() # changed state of students to ana alphabetized list

In [74]:
students.append('Danny')

In [78]:
students

['Anna', 'Danny', 'Kat', 'Matthew', 'Mr. Potato Head', 'Roger', 'Sara']

In [79]:
students.remove('Mr. Potato Head')

In [80]:
students

['Anna', 'Danny', 'Kat', 'Matthew', 'Roger', 'Sara']

In [81]:
' is a student and '.join(students)

'Anna is a student and Danny is a student and Kat is a student and Matthew is a student and Roger is a student and Sara'

### Dictionaries

Dictionaries are unordered data that has a **key** and a **value**.

In [82]:
my_dictionary = {
'first_name':'John', # first thing on line is called the KEY
'last_name' : 'Doe', # second thing is the VALUE
'age':32,
}
 #curly braces

In [83]:
my_dictionary['first_name']

'John'

In [85]:
my_dictionary['last_name']

'Doe'

In [ ]:
type(my_dictionary['last_name'])

#### Dictionaries can be nested

In [88]:
states = {
    "NY": { 
        "fullname": "New York State", 
        "motto": "GIS fo' eva!"
    },
    # "NY" is a KEY
    # this is another dictionary: the VALUE Of NY is another Dictionary
    "NJ": {
        "fullname": "New Jersey",
        "motto": "Python in da houssssseee!",
        "founded": 1787,
        "industries": ['textile', 'silk', 'railroad locomotive']
    }
}

In [90]:
states['NJ']=123456789 # this overwrites the object because I've set the value to a new value

In [91]:
states

{'NY': {'fullname': 'New York State', 'motto': "GIS fo' eva!"},
 'NJ': 123456789}

In [19]:
# We can overwrite values, what is this called?

### Other Collection Types 
* [Tuples](https://docs.python.org/3.4/c-api/tuple.html) - Tuples are **Immutable**
* [Sets](https://docs.python.org/2/library/sets.html) - Set's only include 1 of a unique element. 

We can talk about these later on, but you'll encounter this much less.

In [92]:
coordinates = (42, -73)  # Tuple, immutable used for coordinate pairs (rather than having 
# in separate fileds)
coordinates

(42, -73)

In [93]:
coordinates[0]

42

In [94]:
coordinates[1] = -77

TypeError: 'tuple' object does not support item assignment

In [95]:
coordinates =(142, -173) # tupe lat, lng
coordinates # common for coordinates to be stored as tuples

(142, -173)

In [97]:
s = set(['nj', 'ny', 'nj', 'nj']) 
# take list object and turn into a set object
s

{'nj', 'ny'}

## Built-in Python Functions
We saw the `type()` function when we were looking at Data Types

In [22]:
# round
round

In [23]:
# get the length of s, the set from above